body {
  font-family: sans-serif;
  margin: 0;
}
nav {
  background: #333;
}
ul.topnav {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #333;
}
ul.topnav li {
  float: left;
}
ul.topnav li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}
ul.topnav li a:hover {
  background: #111;
}
.dropdown-content {
  display: none;
  position: absolute;
  background: #444;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content li {
  float: none;
}
.dropdown-content li a {
  padding: 10px 16px;
}
